* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.div1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(79, 79, 79);
}

.div2 {
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgb(79, 79, 79);
}

.div3 {
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 0;
    left: 0;
    background-color: rgb(79, 79, 79);
}

.div4 {
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: rgb(79, 79, 79);
}